<!DOCTYPE html>
<html ng-app="">
    <head>
        <title>Angular Madlibs</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="//code.angularjs.org/1.3.10/angular.js"></script>
    </head>
    <body>
        <main role="main">
            <header>
                <div id="logo"><img src="images/mad-lib-happy-face.png" /></div>
                <div id="banner">
                    <img src="images/ng-mad-libs-logo.png" />
                     <h1>Automate This!</h1>
                </div>
            </header>

            <section id="madlib-enter-text">
                <h1>Provide the following words:</h1>
                <ul>
                    <li>
                        <input ng-model="female_name" type="text" placeholder="Female Name" />
                        <input ng-model="job_title" type="text" placeholder="Job Title" id="job_title" />
                        <input ng-model="tedious_task" type="text" placeholder="tedious task" id="tedious_task" />
                    </li>
                    <li>
                        <input ng-model="dirty_task" type="text" placeholder="dirty task" id="dirty_task" />
                        <input ng-model="celebrity" type="text" placeholder="celebrity" id="celebrity" />
                        <input ng-model="useless_skill" type="text" placeholder="useless skill" />
                    </li>
                    <li>
                        <input ng-model="obnoxiuous_celbertity" type="text" placeholder="obnoxiuous celbertity" />
                        <input ng-model="huge_number" type="text" placeholder="huge number" id="huge_number" />
                        <input ng-model="adjective" type="text" placeholder="adjective" id="adjective" />
                    </li>
                </ul>
            </section>
            <section id="madlib-replace-text">
                <p><span class="token">{{ female_name || '{{&nbsp;Female name&nbsp;}\}' }}</span> was a
                    <span class="token">{{ job_title || '{{&nbsp;job&nbsp;title&nbsp;}\}' }}</span> who loved technology.
                Although she loved parts of her job, she absolutely hated
                    <span class="token">{{ tedious_task || '{{&nbsp;tedious&nbsp;task&nbsp;}\}' }}</span> and
                    <span class="token">{{ dirty_task || '{{&nbsp;dirty&nbsp;task&nbsp;}\}' }}</span>.
                So, <span class="token">{{ female_name || '{{&nbsp;female&nbsp;name&nbsp;}\}' }}</span> met with her life mentor
                    <span class="token">{{ celebrity || '{{ celebrity }\}' }}</span> who told her to learn how
                    <span class="token">{{ useless_skill || '{{&nbsp;useless&nbsp;skill&nbsp;}\}' }}</span> with Thinkful.
                Thinkful didn't offer a course on
                    <span class="token">{{ useless_skill || '{{&nbsp;useless&nbsp;skill&nbsp;}\}' }}</span> so she studied programming instead.</p>

                <p>What a great decision! With her new skills,
                    <span class="token">{{ female_name || '{{&nbsp;Female&nbsp;name&nbsp;}\}' }}</span> built an
                    <span class="token">{{ adjective || '{{&nbsp;adjective&nbsp;}\}' }}</span> robot named
               <span class="token"> {{ obnoxiuous_celbertity || '{{&nbsp;obnoxiuous&nbsp;celbertity&nbsp;}\}' }}</span> that not
                only loved
                    <span class="token">{{ dirty_task || '{{&nbsp;dirty&nbsp;task&nbsp;}\}' }}</span> but did it a
                    <span class="token">{{ huge_number || '{{&nbsp;huge&nbsp;number }\}'&nbsp;}}</span> times faster.</p>
            </section>
        </main>
    </body>
</html>