<!DOCTYPE html>
<html ng-app="waiterEarnings">
<head>
    <title>My Waiter Earnings App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//code.angularjs.org/1.3.10/angular.js"></script>
    <script src="script.js"></script>
</head>
<body>
<main role="main" ng-controller="inputCtrl">
    <header>
            <h1>Waitstaff Calculator</h1>
    </header>

    <section id="meal-details">
        <h2 class="section-head">Enter Meal Details</h2>
        <form name="mealDetails" novalidate>
            <label> Base Meal Price $
                <input ng-model="baseMealPrice" name="baseMealPrice" type="number" placeholder="" required/>
                <div ng-if="mealDetails.$submitted && mealDetails.baseMealPrice.$error.required" ng-messages="mealDetails.baseMealPrice.$error">
                    <span class="error" ng-message="required">Field is required!</span>
                </div>
            </label>
            <label> Tax Rate %
                 <input ng-model="taxRate" name="taxRate" type="number" placeholder="" required/>
                <div ng-if="mealDetails.$submitted && mealDetails.taxRate.$error.required" ng-messages="mealDetails.taxRate.$error">
                    <span class="error" ng-message="required">Field is required!</span>
                </div>
            </label>
            <label> Tip Percentage %
                  <input ng-model="tipPercent" name="tipPercent" type="number" placeholder="" required/>
                <div ng-if="mealDetails.$submitted && mealDetails.tipPercent.$error.required" ng-messages="mealDetails.tipPercent.$error">
                    <span class="error" ng-message="required">Field is required!</span>
                </div>
            </label>
            <button type="submit" id="btnSubmit" value="Submit" ng-click="submitMealDetails()">Submit</button>
            <button type="submit" id="btnCancle" value="Cancle"  ng-click="formCancel()">cancel</button>
        </form>
    </section>

    <section id="customer-charges">
        <h2 class="section-head">Customer Charges</h2>

        <div class="returnValue">Subtotal: {{ customerSubTotal | currency: "$" : 2 || phtaxRatePrice }}</div>
        <div class="returnValue">Tip: {{ customerTip | currency: "$" : 2|| phtaxRatePrice }}</div>
        <div class="returnValue">Total: {{ customerTotal | currency: "$" : 2 || phtaxRatePrice }}</div>

    </section>

    <section id="my-earnings-info">
        <h2 class="section-head">My Earnings Info</h2>

        <p>What a great decision! With {{ gender.name.posessive || gender.women.posessive }} new skills,
            <span class="token">{{ name || nameToken }}</span> built an
            <span class="token">{{ adjective || adjectiveToken }}</span> robot named
            <span class="token"> {{ obnoxiuous_celbertity || obnoxiuousToken }}</span> that not
            only loved
            <span class="token">{{ dirty_task || dirtytaskToken }}</span>, but did it a
            <span class="token">{{ huge_number || hugeToken }}</span> times faster.</p>

    </section>


    <button ng-click="formReset()" id="btnReset">Reset</button>




</main>
</body>
</html>