body{
    background: #FFF;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{

    width: 580px;
    margin: 30px auto 0;
}
header {
    text-align: center;
}
#meal-details, #customer-charges, #my-earnings-info{
    width: 45%;
    float: left;
    padding: 0;
    margin: 0 3% 0 0;
    border: 2px solid #000;
}
#customer-charges, #my-earnings-info{

}
#meal-details input {
    width: 85px;
    padding: 4px;
    margin: 0 0 10px 5px;
    border: 2px solid #000;
    color: #000;
    float: right;
}

#meal-details label{
    font-size: 14px;
    float: right;
    display: block;
    width: 100%;
    text-align: right;
    line-height: 26px;

}
#meal-details input.shorters{
    width: 55px;
    margin: 0 30px 10px 5px;

}
.error{
    color: red;
    float: left;
    width: 100%;
    margin: -10px 0 0 0;
}
#btnReset{
    float: right;
    margin: 10px 0 0 0;
}
h2.section-head{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    text-indent: 15px;
    text-align: left;
}
#my-earnings-info{margin: 20px 0 0 0}
#submittMealDetails{
    margin: 45px 0;
    float: left;
    width: 100%;
    text-align: center;

}
.wrapper{
    padding: 10px;
}
#customer-charges, #my-earnings-info{
    text-align: right;
}
#customer-charges .wrapper{
    margin: 0 0 0 20px;
    float: left;
}
#my-earnings-info .wrapper{
    margin: 0 0 0 20px;
    float: left;
}
#customer-charges div, #my-earnings-info div{
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}
#my-earnings-info div.mealCountpad{
    padding-right: 23px;
}
.totalLine{
    border-bottom: 2px solid #000;
}